In [42]:
import pandas as pd 
coffee=pd.read_csv("coffee.csv")
print(coffee)

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [43]:
#accessing data 
#coffee.loc[rows,columns]
coffee.loc[[8,1],"Day"]

8    Friday
1    Monday
Name: Day, dtype: object

In [44]:
coffee.loc[[1,2,3],["Day","Coffee Type"]]

       Day Coffee Type
1   Monday       Latte
2  Tuesday    Espresso
3  Tuesday       Latte

In [24]:
coffee.loc[5:13,["Day","Units Sold"]]

          Day  Units Sold
5   Wednesday          25
6    Thursday          40
7    Thursday          30
8      Friday          45
9      Friday          35
10   Saturday          45
11   Saturday          35
12     Sunday          45
13     Sunday          35

In [45]:
coffee.loc[:,"Day"]

0        Monday
1        Monday
2       Tuesday
3       Tuesday
4     Wednesday
5     Wednesday
6      Thursday
7      Thursday
8        Friday
9        Friday
10     Saturday
11     Saturday
12       Sunday
13       Sunday
Name: Day, dtype: object

In [ ]:
#if you want to use only indexes instead of labels we use iloc
coffee.iloc[[5,8],[1,2]]

  Coffee Type  Units Sold
5       Latte          25
8    Espresso          45

In [46]:
coffee.iloc[5:13,:]
#when using iloc the last index is not included where as in lco it is

          Day Coffee Type  Units Sold
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45